{% extends '@App/base.html.twig' %}

{% block body %}
    <div>
        <a href="{{ path('product_add') }}">Add new product</a>
    </div>

    <div>
        Total count: {{ pagination.getTotalItemCount }}
    </div>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Added at</th>
        </tr>

        {% for product in pagination %}
            <tr>
                <td>
                    <a href="{{ path('product_view', {productId: product.id}) }}">{{ product.id }}</a>
                </td>
                <td>{{ product.title }}</td>
                <td>{{ product.createdAt | date('Y-m-d, H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}
